body {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

.gallery-wrapper img {
  margin: 10px;
  filter: grayscale(100%);
  cursor: pointer; }
  .gallery-wrapper img:hover {
    filter: none; }
