body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.background {
  background-image: url("./media/halftone-yellow.png");
}

.gallery-wrapper {
  img {
    margin: 10px;
    filter: grayscale(100%);

    cursor: pointer;

    &:hover {
      filter: none;
    }
  }
}