@keyframes ball {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.45, 0, 0.9, 0.55); }
  0% {
    transform: translate(0, 0); }
  50% {
    transform: translate(0, 108px);
    animation-timing-function: cubic-bezier(0, 0.45, 0.55, 0.9); }
  100% {
    transform: translate(0, 0); } }

body {
  font-family: 'Anonymous Pro', monospace;
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

.background {
  min-height: 100vh;
  background-image: url("./media/halftone-yellow.png"); }

.error {
  width: 100%;
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700; }

.gallery-wrapper {
  margin: 100px 0; }
  .gallery-wrapper img {
    margin: 8px;
    filter: grayscale(100%);
    cursor: pointer; }
    .gallery-wrapper img:hover {
      filter: none; }

.gallery-loader {
  position: relative;
  width: 100%;
  height: 100vh; }
  .gallery-loader .ball {
    width: 52px;
    height: 52px;
    position: absolute;
    top: calc(50% - 52px / 2);
    left: calc(50% - 52px / 2);
    border-radius: 50%;
    background: black;
    animation: ball 1s linear infinite; }
